// 主题颜色种类
$scss_theme-one: #fa7570;
$scss_theme-two: #fda62e;
$scss_theme-three: #34a1ff;



// 主题色
$scss_theme-color:$scss_theme-one;

// 上边距
$scss_padding-T: 34rpx;

// 左右边距
$scss_padding-LR: 30rpx;

// 去支付 按钮高度
$scss_btn-pay-height: 100rpx;

$scss_bgc: #f5f5f5;
$scss_border-color: #eee;
$scss_link-active-bgc: #eee;

$scss_nav-top-height: 130rpx;
$scss_go-pay-height: 100rpx;